<div class="main verify-section <%= display %>">
  <div class="container">
    <div class="content">
      <div class="title">
        <h6>Verify Account</h6>
      </div>
      <form class="login login-form" autocomplete="off">

        <div class="hide change-number-section">
          <div class="form-group">
            <input class="form-control form-control-lg" name="whatsapp" type="text" placeholder="Enter WhatsApp Number">
          </div>
          <div class="form-group" align="center">
            <button id="submit" type="submit" class="login-button btn btn-book">
                      <span class="login-text">Change</span>
                  </button>
          </div>
          <div class="divider">
            <span></span>
            <span>OR</span>
            <span></span>
          </div>

          <div class="ortxt">Need support? <a href="#" class="register-link">Click here</a></div>
        </div>

        <div class="enter-otp-section">
          <div class="form-group">
            <input class="form-control form-control-lg" name="whatsapp" type="text" placeholder="Enter OTP">
          </div>
          <div class="form-group" align="center">
            <button id="submit" type="submit" class="login-button btn btn-book">
                      <span class="login-text">Complete Registration</span>
                  </button>
          </div>
          <div class="terms">Didn't get OTP sent to 0908****13? Resend in 
            <a href="#">30 seconds</a>
          </div>
          <div class="divider">
            <span></span>
            <span>OR</span>
            <span></span>
          </div>
          <div class="ortxt">Change your WhatsApp number <a href="#" class="change-number-link register-link">here</a></div>
        </div>

      </form>
    </div>
  </div>
</div>
