@charset "UTF-8";


/*@import url("https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");

html,body {
font-family: "Source Sans Pro", sans-serif;	
font-size:1rem;
line-height: 1.5rem;
height: 100%;
background:#fff;
}


@media (max-width: 1024px) {
html,
body {
font-size: 0.85rem;
background:#f8f8f8;
} }


h1,h2,h3,h4,h5,h6{
font-weight:600;
line-height:0.5rem; 
}

.btn-warning{
background-color: rgba(255,215,0,1);	
}

.btn:focus, .code .btn:active{
box-shadow: none;
}

/*Layout Section*/

.title{
font-size:0.9rem;
line-height:0;
margin:0 0 0;
text-transform:capitalize;
color:#000;
padding:1.35rem 0.75rem;
background:#eee;
}

hr{
padding:0;
margin:0;
line-height:0;
border-color:#e1e1e1;	
}

/*List Section*/

.tipsters{
padding:0 0.75rem;
}

.tipsters li{
display:inline-block;
padding:0.6rem 0.5rem 0 0;
}

.tipsters li a{
text-transform:capitalize;
color:#8a2be2;
font-weight:600;
font-size:0.85rem;
text-decoration:underline;
}

.tipsters li a:hover{
text-decoration:underline;
color:#000;
}

.tipsters .active{
color:#000;
}

/*End of List Section*/


.container{
width:50%;
margin:0 auto;
}

@media (max-width: 1400px) {
.container{
width:70%;	
}
}


@media (max-width: 1024px) {
.container{
width:80%;	
}
}

@media (max-width: 992px) {
.container{
width:85%;	
}
}

@media (max-width: 768px) {
.container{
width:90%;	
}
}

@media (max-width: 480px) {
.container{
width:98%;	
}
}


/*Header Area*/

.navbar{
background:#8a2be2;
padding:0 0;
}

.navbar .logo img{
width:120px;
}

.navbar .btn{
font-weight:600;
font-size:0.9rem;
}

@media (max-width: 992px) {
.navbar .logo img{
width:90px;
}
.navbar{
padding:0rem 0;	
}
.navbar .btn{
padding:0.4rem 1rem;	
}
}

.nav_link{
padding:0;	
}

.nav_link li{
display:inline-block;
margin:1rem 1.5rem 0 0;
}

.nav_link li:last-child{
margin-right:0;	
}

.nav_link li a{
font-weight:600;
color:#fff;
}

.nav_link .bg{
background-color: rgba(222, 222, 222, 0.3);
padding: 8px 13px;
color: #444;	
}


@supports ((position: -webkit-sticky) or (position: sticky)) {
.navbar{
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1071;
}
}

/*End of Header Area*/


.main{
margin:1.5rem 0;
}

.content{
border:1px solid #e1e1e1;
border-radius:4px;
background:#fff;
margin:0 0 1.5rem;
}


/*Tip Section*/

.tips{
padding:0;	
}

.tips li{
border-bottom:1px solid #e1e1e1;
display:inline-block;
width:100%;	
cursor:pointer;
}

.tips li a:hover{
text-decoration:none;
}

.tips li:last-child{
border-bottom:0;
}


.tip{
padding:0.6rem 0.75rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
}

.hover:hover{
background:#f8f8f8;
}

.tip_pic {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.tip_pic img {
width:65px;
height:65px;
border:1px solid #e1e1e1;
border-radius:5px; 
}

@media (max-width: 480px) {
.tip_pic img{
width:30px;
height:30px;	
}
}

.tipmain{
margin:0 0 0 0.7rem;
width:100%;	
}

.tipmain h6{
font-size:0.85rem;
display:inline-block;
color:#8a2be2;
}

.tipmain span{
font-size:0.7rem;
color:#aeaeae;
display:block;
line-height:0;
margin:0.2rem 0;	
}

.tipmain p{
margin:0.5rem 0 0;
color:#333;
font-size:0.85rem;	
}

.tipimg{width:auto; margin:0 auto; padding:1rem 0;}
.tipimg img{max-width:100%}


.odds{
/*border:1px solid #e1e1e1;
padding:0.4rem 1rem;*/
text-align:center;
font-size:0.85rem;
color:#000;
font-weight:500;
}

.odds span{
display:block;
font-size:0.75rem;
color:#666;
line-height:1.2rem;
/*text-transform:uppercase;*/
}



/*Betcodes Section*/

.betcodes{
margin:0;
padding:0;	
}

.betcodes li{
/*border-bottom:1px solid #e1e1e1;*/
display:inline-block;
width:100%;
padding:0 0 0.5rem;
}

.betcodes li:last-child{
/*border-bottom:0;*/
padding:0;	
}

.betcodes li p{
display:inline-block;
font-weight:600;	
}

.betcodes li p span{
display:inline-block;
font-size:0.8rem;
margin:0 0.2rem 0 0;
color:#666;
font-weight:600;
text-transform:uppercase;
}

.betcodes .code{
float:right;
color:#333;
font-weight:400;	
}

.code .btn{
margin:0 0 0 0.5rem;
padding:0 0.3rem;
background:#fff;
border:1px solid #e1e1e1;
color:#000;	
}	

.code .btn:hover{
background:#ffd700;	
border:1px solid #000;
}



.code .btn:focus, .code .btn:active{
border:1px solid #000;	
}

/*Divider Section*/

.divider {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin:1rem 0 0.5rem;
color:#ccc;
text-transform:uppercase;
}

.divider > span{
font-size:0.8rem;	
}

.divider > span:first-child {
width: 100%;
height: 1px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
background: #e1e1e1;
display: inline-block; }
.divider > span:last-child {
width: 100%;
height: 1px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
background: #e1e1e1;
display: inline-block; }
.divider > span:not(:first-child):not(:last-child) {
padding: 0 2rem; }



/*Post Section*/
.post{
padding:1rem 0.75rem;
margin:0 auto;	
}

.form-control, .custom-select, .custom-file{
color:#000; 
border-color:1px solid #e1e1e1;
}

.upcase{text-transform:uppercase;}

.post textarea{
min-height:90px;	
}

.post input:focus, .post textarea:focus, .post select:focus{
box-shadow: none;
border:1px solid #8a2be2;  
}

.post .btn{
font-weight:600;
width:100%;
text-transform:uppercase;
}


/*End of Layout Section*/






/*Footer Section*/
footer{
font-size:0.85rem;
padding:0 0 1rem;
color:#666;
}


footer .copyright{
display:inline-block;
text-align:left;  
}

footer .footer-link{
display:inline-block;
text-align:right;
float:right; 
} 

footer .footer-link a{
color:#666;
margin:0 0 0 1rem;
}

/*Modal Section*/


.modal-window {
position: fixed;
background-color: rgba(0, 0, 0, 0.65);
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 999;
opacity: 0;
pointer-events: none;
border-radius:3px;
}

.modal-window:target {
opacity: 1;
pointer-events: auto;
}

.modal-window>div {
position: relative;
margin: 5rem auto 0;
padding:2rem 2rem 0.5rem;
background: #fff;
}


.modal-window h4{
color:#000;
margin:0 0 1.3rem;  
}

.modal-window p{
color:#333;
}


.modal-window header {
font-weight: bold;
}

.modal-close {
color: #aaa;
line-height: 50px;
font-size: 80%;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 70px;
text-decoration: none;
}

.modal-close:hover {
color: #000;
text-decoration:none;
}


@media (max-width: 992px) {
.modal-window>div {
margin:80px auto 0;
}
}
/*End of Modal Section*/



/*End of Footer Section*/