@charset "UTF-8";


/*@import url("https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");

html,body {
font-family: "Source Sans Pro", sans-serif;	
font-size:1rem;
line-height: 1.5rem;
height: 100%;
background:#f8f8f8;
}


@media (max-width: 1024px) {
html,
body {
font-size: 0.85rem;
} }


article {
min-height: 100%;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 100%;
}	


h1,h2,h3,h4,h5,h6{	
font-weight:600;
line-height:0.5rem; 
}

.btn{
font-weight:600;
}

.btn:focus, .code .btn:active{
box-shadow: none;
}

/*Layout Section*/

.title{
background:#eee;
border-bottom:1px solid #e1e1e1;
padding:1.2rem 0.75rem;
margin:0;
display:flex;
justify-content:space-between;
}

.title h6{
font-size:0.95rem;
text-transform:capitalize;
color:#000;
margin:0;
}

.title a{
line-height:0;
align-self: center;
}

.title a i{
margin:0;
line-height:0;
font-size:1.3rem;
color:#aeaeae;
vertical-align:middle;	
}

.title a i:hover{
color:#8a2be2;	
}

.two{
padding:1.1rem 0.75rem;	
background:#fff;
border-top:1px solid #e1e1e1;	
}

.two h6{
font-size:0.95rem;
}


/*List Section*/

.tipsters{
padding:0 0 1rem;
margin:0;
}

.tipsters li{
width:100%;	
padding:0.8rem 0.75rem;
display:inline-block;
border-bottom:1px solid #e1e1e1;
}

.tipsters li a{
display: flex;	
display: -ms-flexbox;
justify-content:flex-start;
}

.tipsters li:last-child{
border-bottom:0;
}


.tipsters a:hover{
text-decoration:none;
}


.tipsters img {
width:65px;
height:65px;
border:1px solid #e1e1e1;
border-radius:2rem;
}

@media (max-width: 480px) {
.tipsters img{
width:55px;
height:55px;	
}
}


.tipsters .details{
display:flex;
flex-direction: column;
margin:0.5rem 0 0 1rem;
flex:1 1 0;
}

.tipsters h6{
color:#8a2be2;
font-size:0.85rem;
}

.tipsters span{
font-size:0.7rem;
color:#aeaeae;
line-height:1rem;
margin-bottom:2px;
}

.tipsters p{
color:#333;
font-size:0.95rem;
margin-bottom:0;
}

.tipbox{
padding:0.4rem 0.8rem;
border:1px solid #e1e1e1;
align-self:flex-start;
text-align:center;
}

.tipbox{
color:#666;
font-weight:600;
font-size:0.9rem;	
}

.tipbox span{
display:block;
font-weight:400;
}






.container{
width:50%;
margin:0 auto;
}

.container_two{
padding:1rem 0.75rem;	
}

@media (max-width: 1400px) {
.container{
width:70%;	
}
}


@media (max-width: 1024px) {
.container{
width:80%;	
}
}

@media (max-width: 992px) {
.container{
width:85%;	
}
}

@media (max-width: 768px) {
.container{
width:90%;	
}
}

@media (max-width: 480px) {
.container{
width:98%;	
}
}


/*Header Area*/

.navbar{
background:#8a2be2;
padding:0.7rem 0;
}

.head{
display:flex;
flex-direction:row;
justify-content:space-between;
flex:1 1 0;
align-items:center;
}


/*.head .logo{
}

.head .link{
}*/

.logo i{
color:#fff;
font-size:2rem;	
}

/*.logo img{
width:120px;
}*/



.link{
}


.link a{
font-weight:600;
font-size:0.9rem;
padding:0.5rem 0.7rem;
margin:0 0 0 0.4rem;
border-radius:3px;
}

.link a:hover{
text-decoration:none;	
}

.link a i{
font-size:0.9rem;
margin:0 0.35rem 0 0;
}

.bggrey,.bggrey:hover{
background-color: rgba(222, 222, 222, 0.3);
color:#fff;
}

.bggold,.bggold:hover{
background-color: rgba(222, 215, 0, 1);
color: #000;
}

@media (max-width: 992px) {
/*.navbar .logo img{
width:90px;
}*/
.navbar{
padding:0.4rem 0;	
}

.link a{
padding:0.5rem 0.7rem;
}

.link a i{
font-size:0.9rem;
margin-right:0.3rem;
}

}


@supports ((position: -webkit-sticky) or (position: sticky)) {
.navbar{
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1071;
}
}


.loglink{	
}

.loglink a{
color:#fff;
padding:1.2rem 1.5rem;
font-size:0.9rem;
font-weight:600;
text-decoration:none;
}


.loglink a:hover{
text-decoration:none;
/*background-color: rgba(0, 0, 0, 0.8);*/	
}

.loglink a i{
font-size:1.1rem;
margin:0 0.5rem 0 0;	
}

.loglink .active{
background-color: rgba(222, 222, 222, 0.3);
}

.loglink .passive{
padding-right:0;
}


.right a{
font-size:0.85rem;
font-weight:600;
color:#fff;	
}

.right a i{
margin-right:5px;	
}

@media (max-width: 768px) {

.loglink a{
padding:1rem 0.85rem;
font-size:0.85rem;
}

.loglink a i{
margin:0 0.3rem 0 0;
font-size: 0.85rem;	
}

.loglink a span{
display:none;	
}
}


/*End of Header Area*/


.main{
margin:1.5rem 0 0;
}

.content{
border:1px solid #e1e1e1;
border-radius:4px;
background:#fff;
margin:0 0 1rem;
padding:0;
}


/*Tip Section*/

.tips{
padding:0;
margin:0;	
}

.tips li{
border-bottom:1px solid #e1e1e1;
display:inline-block;
width:100%;	
cursor:pointer;
padding:1rem 0.75rem 1.2rem;
}

.tips li a:hover{
text-decoration:none;
}


.tips li:last-child{
border-bottom:0;
}



.hover:hover{
background:#f8f8f8;
}

.t_header{
display: flex;	
display: -ms-flexbox;
justify-content:flex-start;
}

.t_details{
display:flex;
flex-direction: column;
margin:0.3rem 0.35rem 0;
}

.t_details h6{
font-size:0.85rem;
color:#8a2be2;
text-transform:capitalize;
}

.t_details span{
font-size:0.7rem;
color:#aeaeae;
line-height:0;
margin:0.3rem 0;	
}

.t_header img {
width:35px;
height:35px;
border:1px solid #e1e1e1;
border-radius:2rem;
}

@media (max-width: 480px) {
.t_header img{
width:30px;
height:30px;	
}
}

.t_main{
margin:0;
width:100%;
}

.t_main p{
margin:0.3rem 0 0.6rem;
color:#333;
font-size:1rem;
line-height:1.5rem;	
}

.t_info{
border:1px solid #ccc;
padding:0.25rem 0.75rem;
font-size:0.9rem;
color:#000;
font-weight:600;
border-radius:2rem;
display:inline-block;
width:auto;
margin:0 0.5rem 0 0;
}

.t_info i{
margin:0 0.3rem 0 0;
font-size:0.9rem;
color:#8a2be2;
vertical-align:middle;	
}

.t_info span{
color:#333;
margin-left:2px;
}


.showmore{
padding:0.7rem 0;
border-top:1px solid #e1e1e1;
/*background:#f8f8f8;*/
text-align: center;
cursor: pointer;
}

.showmore:hover{
background:#f8f8f8;	
}

.showmore a{
text-transform:uppercase;
font-size:0.9rem;
font-weight:600;
color:#666;
width:100%;
display:inline-block;	
}

.showmore a:hover{
text-decoration:none;
color:#8a2be2;	
}

/*single tip*/

.s_tip{
padding:1rem 0.75rem;	
}

.s_super{
display: flex;	
display: -ms-flexbox;
justify-content:space-between;		
}

.s_header{
display: flex;	
display: -ms-flexbox;
justify-content:flex-start;	
}

.s_header .img{
width:35px;
height:35px;
border:1px solid #e1e1e1;
border-radius:2rem;
}

.s_details{
display:flex;
flex-direction: column;
margin:0.3rem 0.35rem 0;
}

.s_details h6{
font-size:0.85rem;
color:#8a2be2;
text-transform:capitalize;
}

.s_details span{
font-size:0.7rem;
color:#aeaeae;
line-height:0;
margin:0.3rem 0 0.9rem;	
}

.s_info{
padding:0;
line-height:0;
border:0;
margin:0;
}

.s_main{
padding:0.5rem 0;	
}

.s_main p{
margin:1rem 0 0;
font-size:1rem;
}


.s_img{width:auto; margin:0 auto; padding:1rem 0 0;}
.s_img img{width:auto;max-width:100%}


/*Comments Section*/

.discuss{
padding:0;
margin:0;	
}

.discuss li{
border-bottom:1px solid #e1e1e1;
display:inline-block;
width:100%;	
cursor:pointer;
padding:0.8rem 0.75rem;
}

.discuss li:first-child{
padding-top:1rem;	
}

.discuss li a:hover{
text-decoration:none;
}


.discuss .t_main p{
margin:0.2rem 0 0;
font-size:1rem;
}


/*Betcodes Section*/

.betcodes{
padding:1.5rem 0.75rem;
border:1px solid #f8f8f8;
background:#f8f8f8;
margin:0 0 2rem;
/*border-radius:3px;*/
}

.betcodes .divider{
margin:0;
line-height:0;
padding-bottom:1rem;	
}


.betcodes input, .betcodes select{
border:1px solid #e1e1e1;
color:#333;
}

.betcodes .form-group{
margin:0.5rem 0;	
}

.betcodes input{
border-right:0;
border-top-right-radius:0;
border-bottom-right-radius:0;	
}


.betcodes input:focus{
box-shadow: none;
border:1px solid #e1e1e1;
border-right:0;
border-top-right-radius:0;
border-bottom-right-radius:0;  
} 
.betcodes select:focus{
box-shadow: none;
border:1px solid #e1e1e1;  
}

.betcodes input:read-only {
background-color:#fff;
}

.betcodes .btn{
padding:0 0.6rem;
background:#fff;
border:1px solid #e1e1e1;
border-top-left-radius:0;
border-bottom-left-radius:0;
color:#000;	
font-size:0.85rem;
}	
.betcodes .btn i{
margin-right:2px;	
}

.betcodes .btn:hover{
border:1px solid #8a2be2;
background:#8a2be2;
color:#fff;
}



.betcodes .btn:focus, .betcodes .btn:active{
border:1px solid #8a2be2;
background:#8a2be2;
box-shadow:none;
color:#fff;	
}

/*.betcodes li{
display:inline-block;
width:100%;
padding:0;
}

.betcodes li p{
display:inline-block;
font-weight:600;
font-size:0.9rem;	
line-height:0;
}

.betcodes li p span{
display:inline-block;
font-size:0.8rem;
margin:0 0.2rem 0 0;
color:#666;
font-weight:400;
text-transform:uppercase;
}*/

/*Divider Section*/

.divider {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin:1rem 0 0.5rem;
color:#ccc;
text-transform:uppercase;
}

.divider > span{
font-size:0.8rem;
font-weight:600;
}

.divider > span:first-child {
width: 100%;
height: 1px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
background: #e1e1e1;
display: inline-block; }
.divider > span:last-child {
width: 100%;
height: 1px;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
background: #e1e1e1;
display: inline-block; }
.divider > span:not(:first-child):not(:last-child) {
padding: 0 2rem; }







/*Footer Section*/
footer{
font-size:0.8rem;
padding:0 0 1rem;
color:#ababab;
width:95%;
margin:0 auto;
}


footer .copyright{
display:inline-block;
text-align:left;  
}

footer .footer-link{
display:inline-block;
text-align:right;
float:right; 
} 

footer .footer-link a{
color:#989898;
margin:0 0 0 1rem;
}

@media (max-width:350px) {
.footer {
width:100%;
}
footer .copyright{
display:block;
text-align:center;	
}
footer .footer-link{
display:block;
text-align:center;
float:none;
margin-top:0.2rem; 	
}
}

/*Modal Section*/


.modal-window {
position: fixed;
background-color: rgba(0, 0, 0, 0.65);
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 999;
opacity: 0;
pointer-events: none;
border-radius:3px;
}

.modal-window:target {
opacity: 1;
pointer-events: auto;
}

.modal-window>div {
position: relative;
margin: 5rem auto 0;
padding:2rem 2rem 0.5rem;
background: #fff;
}


.modal-window h4{
color:#000;
margin:0 0 0.5rem;
line-height:1.8rem; 
}

.modal-window p{
color:#333;
}


.modal-window header {
font-weight: bold;
}

.modal-close {
color: #aaa;
line-height: 50px;
font-size: 80%;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 70px;
text-decoration: none;
}

.modal-close:hover {
color: #000;
text-decoration:none;
}


@media (max-width: 992px) {
.modal-window>div {
margin:80px auto 0;
}
}
/*End of Modal Section*/



/*End of Footer Section*/



/*Login/Post Section*/

.login{
padding:1rem 0.75rem 0;	
}

.login textarea{
min-height:90px;	
}

.login input, .login textarea, .login select{
border:1px solid #e1e1e1;  
}

.login input:focus, .login textarea:focus, .login select:focus{
box-shadow: none;
border:2px solid #8a2be2;  
}

.login .btn{
padding:0.4rem 1rem;
margin:0.2rem 0 0;
}

@media (max-width: 992px) {
.login .btn{
width:100%;	
}
}

.custom-file-label{
font-size:1rem;
}


/*Profile Section*/

.summary{
padding:1.5rem 0.75rem;
display:flex;
flex-direction:column;
align-items:center;
}

.summary img{
width:85px;
height:85px;
border:1px solid #e1e1e1;
border-radius:50px;	
}

.summary h5{
padding:1rem 0;
color:#8a2be2;
font-size:1.2rem;
line-height:0;	
} 

.summary h6{
color:#aeaeae;
font-size:0.95rem;
font-weight:400;
line-height:0;	
}

.summary p{
color:#333;
line-height:0;
margin:1.2rem 0 1.4rem;
font-size:1rem;	
}

.summary a{
font-size:1rem;	
}

.summary .seperator{
margin:0 0.5rem;
color:#ccc;
font-size:1.2rem;	
}

.summary .btn{
margin:1rem 0 0;
border:1px solid #e1e1e1;
padding:0.5rem 1.5rem;
font-size:0.9rem;	
}

.summary .btn i{
margin-right:2px;	
}
