<%- include ("meta2.ejs") %>
<title>Add Tipster</title>
</head>
<body>

<div id="app">
	
	<%- include ("header_simple.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<h6 class="title">Add Tipster</h6>

				<div class="login">
					
					<form>


						<div id="success" style="display: none" class="alert alert-success" role="alert">
	  						Tip posted successfully
						</div>

						<div id="error" style="display: none" class="alert alert-danger" role="alert">
	  						Tip posted unsuccessfully, please try again later 

						</div>

						<div class="form-group">
							<input class="form-control" type="text" id="name" placeholder="Tipster Name" />
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success">Add</button>
						</div>

					</form>

				</div>

			</div>

		</div>
	
	</div>

</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>

<script type="text/javascript">

  const submit = document.querySelector("button")
  const name = document.querySelector("#name")

  addEvent([name], "click, focus, change", () => {
    hideAlert(".alert-danger")
    hideAlert(".alert-success")
  })
  
  const button = createButton("button", "Add", "Adding...")

  submit.addEventListener("click", (event) => {

    event.preventDefault()

    button()


    api("/tipster/twitter", { username: name.value })
      .then(handleResponse)

    function handleResponse(response){

      button("normal")

      if(response.status == 200){
        name.value = ""
        return showAlert(".alert-success", "Tipster added")
      }
      else
        return showAlert(".alert-danger", "Problem adding tipster, contact support")

    }        

  })

</script>
