<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "alert" }) %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="title">
					<h6>Alerts</h6>
				</div>
				<ul class="codes">
					<li class="hover">
						<a href="/code">
							<div class="code-main">
								<span>Convert <b>BEUFHR182</b> from <b>Sportybet</b> to <b>Bet9ja</b></span>
							</div>
							<div class="code-bottom">
								<div class="code-sub">
									<span class="status pending">Pending</span>
									<span class="time">2 hours ago</span>
								</div>
								<i class="fas fa-angle-right"></i>
							</div>
						</a>
					</li>
					<li>
						<div class="code-main">
							<span>Convert <b>CCHR47</b> from <b>1xbet</b> to <b>22bet</b></span>
						</div>
						<div class="code-bottom">
							<div class="code-sub">
								<span class="status done">Done</span>
									<span class="time">3 hours ago</span>
							</div>
							<i class="fas fa-angle-right"></i>
						</div>
					</li>
					<li class="hover">
						<a href="#">
							<div class="code-main">
								<span>Convert <b>02X47F</b> from <b>Betking</b> to <b>Sportybet</b></span>
							</div>
							<div class="code-bottom">
								<div class="code-sub">
									<span class="status failed">Failed</span>
									<span class="time">12 hours ago</span>
								</div>
								<i class="fas fa-angle-right"></i>
							</div>
						</a>
					</li>
					<li>
						<div class="code-main">
							<span>Convert <b>28DGT35</b> from <b>22bet</b> to <b>1xbet</b></span>
						</div>
						<div class="code-bottom">
							<div class="code-sub">
								<span class="status done">Done</span>
								<span class="time">18 hours ago</span>
							</div>
							<i class="fas fa-angle-right"></i>
						</div>
					</li>
					<li>
						<div class="code-main">
							<span>Convert <b>0SVDHA</b> from <b>Betbiga</b> to <b>Merrybet</b></span>
						</div>
						<div class="code-bottom">
							<div class="code-sub">
								<span class="status partial">Partial</span>
								<span class="time">2 days ago</span>
							</div>
							<i class="fas fa-angle-right"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>
