<section class="banner">
  <div class="row">
    <div class="col-md-6 col-lg-6 left">
      <h1>Discover & convert <br> booking codes<br> more easily!<!-- <br> with bookmakr.ng --></h1>
      <h6>
        Get games from the top tipsters in Nigeria converted to any bookmaker of your choice. 
      </h6>
      <a class="btn btn-warning" href="/register">Get Started <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    </div>
    <div class="col-md-6 col-lg-6 col-12">
      <img class="img-fluid" src="/image/logo/booking.png" alt="Book A Bet">
    </div>
  </div>
</section>