<section class="banner">
  <div class="row">
    <div class="col-md-6 col-lg-5 left">
      <h1>Discover <br> and convert <br> bets more easily<!-- <br> with bookmakr.ng --></h1>
      <h6>
        Follow the games<!-- , betslips and tips --> of the top tipsters in Nigeria and convert to the booking code of your favourite bookmaker. 
      </h6>
      <a class="btn btn-book" href="/register">Get Started <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    </div>
    <div class="col-md-6 col-lg-6 col-12 offset-xl-1">
      <img class="img-fluid" src="/image/logo/booking.png" alt="Book A Bet">
    </div>
  </div>
</section>