<section class="banner">
  <div class="row mb-3">
    <div class="col-md-6 col-lg-6 col-12 left">
      <h1>Get the latest <br> booking codes</h1>
      <h6>
        From the top tipsters in Nigeria and convert to any bookmaker  
      </h6>
      <a class="btn btn-warning" href="/register">Get Started <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    </div>
    <div class="col-md-6 col-lg-6 col-12">
      <img class="img-fluid" src="/image/logo/goal.png">
    </div>
  </div>
  <span class="text-muted"><b style="color:#cc0000">*</b>Get, convert booking codes from and to Bet9ja, Betking, Sportybet, 1xbet, 22bet, Msport, Betway, Melbet, Nairabet, Bigibet, Bangbet, Betwinner on www.bookmakr.ng</span>
</section>