<section class="banner">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-12 left">
      <h1>Get the latest <br> booking codes</h1>
      <h6>
        From the top tipsters in Nigeria and convert their codes to any bookmaker of your choice. 
      </h6>
      <a class="btn btn-warning" href="/register">Get Started <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    </div>
    <div class="col-md-6 col-lg-6 col-12">
      <img class="img-fluid" src="/image/logo/goal.png">
    </div>
  </div>
</section>