<ul class="betcodes">

	<% Object.keys(tip.bookmakers).forEach((bookmaker, i) => { %>
    <% if(tip.bookmakers[bookmaker]){ %>
    <li>
      <% bdisplay = bookmaker %>
      <% if(bookmaker == "onexbet"){ bdisplay = "1xbet" } %>
      <% if(bookmaker == "twentytwobet"){ bdisplay = "22bet" } %>
      <p class="text-capitalize"><%= bdisplay %></p>
      <p class="code">
        <% let code = tip.bookmakers[bookmaker] %>
        <span data-bookmaker="<%= bookmaker %>" data-tipster="<%= tip.tipster.name %>"><%= code %></span>
        <button @click="copy" class="btn btn-sm" href="#">
          <i class="far fa-clone"></i> Copy
        </button>
      </p>
    </li>
        <% } %>	
	<% }) %>

</ul>