<div class="betcodes">

  <div class="divider">
    <span></span>
    <span>Copy Booking Code</span>
    <span></span>
  </div>
  
  <div class="form-group">
    <select class="custom-select"> 
      <option>Choose Bookmaker</option>
      <option value="Bet9ja">Bet9ja</option>
      <option value="Betking">Betking</option>
      <option value="Sportybet">Sportybet</option>
      <option value="1xbet">1xbet</option>
      <option value="22bet">22bet</option> 
    </select>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" value="AXCDKHR">
    <button class="btn" type="button"><i class="far fa-clone"></i> Copy</button>
  </div>

</div>