<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "codes" }) %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="title">
					<h6>Booking Codes</h6>
				</div>

				<!-- <ul class="nav nav-tabs p-3">
				  <li class="nav-item">
				    <a class="nav-link active" data-toggle="tab" href="#home">Active</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#menu1">Link</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#menu2">Link</a>
				  </li>
				</ul> -->
			</div>
		</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>
