<%- include ("meta.ejs") %>
</head>
<body>

<article>

	<%- include ("header.ejs", { page: "convert" }) %>
	
	<div class="main">
		
		<div class="container">

			<div class="content">

				<div class="title">
					<h6>Convert Booking Code</h6>
				</div>

				<div class="random">
					<img class="img-fluid" src="/image/logo/coming.png" alt="Under Construction Image">
    	        		<p class="info">
    	        			Convert any booking code for as little as 20 naira soon! For more information, 
    	        			<a href="https://wa.me/message/R7NQZELPYZV3L1">click here</a>
    	        		</p>
	            </div>


				<!-- <form class="login" autocomplete="off">

					<div id="error" class="alert alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					    </button>
		            	Sorry, your balance is insufficient. Top up <a href="/topup">here</a>
		          	</div>
		          	<div class="alert alert-info" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					    </button>
		            	10 naira will be deducted from your wallet
		          	</div>

					<div class="form-group">
						<input class="form-control form-control-lg" name="identifier" type="text" placeholder="Enter Booking Code">
					</div>
					
					<div class="form-group">
						<select class="custom-select custom-select-lg">
							<option>Convert From</option>
							<option>Bet9ja</option>
							<option>Betking</option>
							<option>Sportybet</option>
							<option>1Xbet</option>
							<option>22bet</option>
							<option>Msport</option>	
						</select>
					</div>
					<div class="form-group">
						<select class="custom-select custom-select-lg">
							<option>Convert To</option>
							<option>Bet9ja</option>
							<option>Betking</option>
							<option>Sportybet</option>
							<option>1Xbet</option>
							<option>22bet</option>
							<option>Msport</option>	
						</select>
					</div>

					<div class="form-group">
						<button id="submit" type="submit" class="login-button btn btn-book">
              				<span class="login-text">Convert</span>
			            </button>
					</div>

				</form> -->

			</div>
			
		</div>
	
	</div>

<!--   <script src="/js/script.js"></script>
  <script src="/js/pages/login.js"></script> -->

  <script src="/js/script.js"></script>
	<%- include ("footer.ejs") %>

</article>

<%- include ("end.ejs") %>
