<div class="title two">
	<h6>Discussions (82)</h6>
</div>
<ul class="discuss">
	
	<li>
		<div class="t_header">
			<img src="/image/logo/1.jpg" alt="Akinwumi">
			<div class="t_details">
				<h6>Akin Wumi</h6>
				<span>an hour ago</span>
			</div>
		</div>
		<div class="t_main">
			<p>We are going to be good during the whole period and there is nothing wrong with that</p>
		</div>
	</li>

	<li>
		<div class="t_header">
			<img src="/image/logo/2.jpg" alt="">
			<div class="t_details">
				<h6>Okiki Jegede</h6>
				<span>2 hours ago</span>
			</div>
		</div>
		<div class="t_main">
			<p>
				This guy sings in a very charismatic way and this is the kind of things I am looking forward to
				as it unravels in the end and it can not be kept up.
			</p>
		</div>
	</li>

	<li>
		<div class="t_header">
			<img src="/image/logo/4.jpg" alt="">
			<div class="t_details">
				<h6>Omolayo Ayeni</h6>
				<span>3 hours ago</span>
			</div>
		</div>
		<div class="t_main">
			<p>
				We are trying to keep the lights on
			</p>
		</div>
	</li>

	<li>
		<div class="t_header">
			<img src="/image/logo/5.jpeg" alt="">
			<div class="t_details">
				<h6>Wisdom Ogwu</h6>
				<span>2 days ago</span>
			</div>
		</div>
		<div class="t_main">
			<p>
				This is definitely not practical. 
			</p>
		</div>
	</li>

</ul>	

<div class="login">
	<div class="form-group">
		<textarea class="form-control" placeholder="Say something"></textarea>
	</div>
	<div class="form-group">
		<button id="submit" type="submit" class="btn btn-success">Post</button>
	</div>

	
</div>