<div id="post" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Post on Bookmakr</h4>
<p>
To comment on this tip, login or register below
</p>
<p>
<a class="btn mr-2 login-redirect" href="/login" style="background:#fff;border:1px solid #e1e1e1;">
<i class="fas fa-lock mr-2"></i>Login
</a>
<a class="btn signup-redirect" href="/register" style="background:#8a2be2;color:#fff;">
<i class="fas fa-user-plus mr-2"></i>Sign Up
</a>
</p>
</div>
</div>
<!-- <div id="about" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>About Us</h4>
<p>
Get the latest bet tips from top tipsters in Nigeria.
</p>
<p>
For additional information or other enquires, contact us via email: 
<a href="mailto:bookmakr@tutanota.com">bookmakr@tutanota.com</a>	
</p>
</div>
</div> -->
<div id="disclaimer" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Disclaimer</h4>
<p>
All tips on our website are retrieved from Twitter and Telegram and posted as it is with credit to the tipsters and therefore do not constitute betting advice in any way whatsoever from Bookmakr.
</p>
<p>
Nothing posted on bookmakr.ng should be seen as a bet recommendation and all information on our website should be used solely for research purposes and while we make every effort to keep tips and booking codes precise, we take no responsibility for their accuracy.
</p> 
<p>	
Please note that from time to time, we may receive inaccurate information from tipsters or bookmakers before you take any action. Always verify the latest betting information by checking bookmakers’ websites before placing a bet.
Also, some bookmakers booking codes might not contain all the selections in a tip because they don't have the markets.
</p>
<!-- <p>
 If you need the booking codes for Nairabet, Betway, Melbet and many more, you can make a request in our <a href="https://t.me/bookmakr">telegram</a> group or tag us on twitter <a href="https://twitter.com/thebookmakr">@thebookmakr</a>	
</p> -->

</div>
</div>
<div id="privacy" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Privacy Policy</h4>
<p>we use your browser cookies to store information about your interactions that may be needed later to perform a function. You can choose not to accept cookies and still access some of our services. However, you might be unable to use the cookie-dependent features. Refer to the help information in your browser software for instructions on how to disable cookies.</p>
</div>
</div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
