<div id="alert" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Receive Alert</h4>
<p>
We will send a notification to you when there is a new post from your favourite tipsers.
</p>
<p>
<a class="btn btn-success" href="#" style="font-weight:600;font-size:0.9rem"><i class="far fa-thumbs-up mr-2"></i>Allow</a>	
</p>
</div>
</div>
<div id="join" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Become a member of our community</h4>
<p>
Join us on telegram or follow us on twitter to keep get the latest tips, give us feedback and reviews.
</p>
<p>
<a class="btn mr-2" href="https://t.me/bookmakr" style="font-weight:600;font-size:0.9rem;background:#0088cc;color:#fff;">
<i class="fab fa-telegram mr-2"></i>Join Group
</a>
<a class="btn" href="https://twitter.com/thebookmakr" style="font-weight:600;font-size:0.9rem;background:#00acee;color:#fff;">
<i class="fab fa-twitter mr-2"></i>Follow Us
</a>
</p>
</div>
</div>
<div id="about" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>About Us</h4>
<p>
Compare the odds of football matches from 3 top Nigerian bookmakers (Bet9ja, Betking and Sportybet) all in one place and increase your potential winnings by up to 10-15% in the long-run and also save time instead of browsing the web and comparing betting odds one by one on each bookmaker, you can locate everything on our website.
</p>
<p>
For additional information or other enquires, contact us via email: 
<a href="mailto:bookmakr@tutanota.com">bookmakr@tutanota.com</a>	
</p>
</div>
</div>
<div id="disclaimer" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Disclaimer</h4>
<p>
Whilst every effort is made to keep odds up to date and precise, we take no responsibility for the data accuracy. Please note that from time to time, we may receive inaccurate information from bookmakers about their current odds values, or matches may expire before you take any action. Always verify the latest betting odds by checking bookmakers’ websites before placing a bet.
</p>
</div>
</div>
<div id="privacy" class="modal-window">
<div class="col-lg-4 col-md-6 col-11">
<a href="#modal-close" title="Close" class="modal-close">close &times;</a>
<h4>Our Privacy Policy</h4>
<p>we use your browser cookies to store information about your interactions that may be needed later to perform a function. You can choose not to accept cookies and still access some of our services. However, you might be unable to use the betslip feature which is cookie-dependent. Refer to the help information in your browser software for instructions on how to disable cookies.</p>
</div>
</div>

<script src="/js/moment.min.js"></script>
</body>
</html>
