<section class="popular-banner" style="margin-top:5rem">
	<h1>Popular Questions</h1>
	<p class="sub">Frequently asked questions</p>
	<div class="accordion" id="accordionExample">
	  <div class="card">
	  	<div class="card-header" id="headingOne">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Is bookmakr.ng free
	        </button>
	      </h2>
	    </div>
	    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
	      	Yes, bookmakr.ng is free to use. You can browse through all the booking codes on our website for free. 
	      	We only charge you when you ask us to convert a booking code for you.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          How much does it cost to convert
	        </button>
	      </h2>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
	      <div class="card-body">
	        If you want to convert a booking code from one bookmaker to the other, it will cost you just 10 naira.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          How do I pay if I want to convert
	        </button>
	      </h2>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	      <div class="card-body">
	      	You can top up your account instantly by transferring as little as 100 naira to us using Paystack.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="heading4">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" 
	        aria-expanded="false" aria-controls="collapse4">
	          How long does it take to convert
	        </button>
	      </h2>
	    </div>
	    <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	      <div class="card-body">
	      	We will help you convert any booking code from one bookmaker to the other within 30 minutes.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="heading5">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" 
	        aria-expanded="false" aria-controls="collapseThree">
	          Can I convert my own codes
	        </button>
	      </h2>
	    </div>
	    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
	      <div class="card-body">
	      	<!-- Yes, we also help our users convert their own booking codes. -->
	      	Coming soon!
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="heading6">
	      <h2 class="mb-0">
	        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" 
	        aria-expanded="false" aria-controls="collapse6">
	          Do you give users tips
	        </button>
	      </h2>
	    </div>
	    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
	      <div class="card-body">
	      	No, we only repost tips from popular tipsters on Twitter and Telegram.
	      </div>
	    </div>
	  </div>
	</div>
</section>