<section class="popular-banner mt-5">
	<h1>Popular Questions</h1>
	<p class="sub">Frequently asked questions</p>
	<div class="row mb-3">
		<div class="col-md-6 col-lg-6 col-12">
			<div class="faq content">
          		<h6><small>1.</small>&nbsp;&nbsp;Is bookmakr.ng free?</h6>
          		<p>Yes it is free to use. We only charge you when we convert a booking code for you</p>
          	</div>
	    </div>
	    <div class="col-md-6 col-lg-6 col-12">
	    	<div class="faq content">
          		<h6><small>2.</small>&nbsp;&nbsp;How much does it cost to convert?</h6>
          		<p>It cost 10 naira to convert a booking code from one bookmaker to another</p>
         	 </div>
	    </div>
	    <div class="col-md-6 col-lg-6 col-12">
	    	<div class="faq content">
          		<h6><small>3.</small>&nbsp;&nbsp;How do I pay if I want to convert?</h6>
          		<p>
          			You can top up your account instantly by transfering as little as 100 naira to us
          		</p>
          	</div>
	    </div>
	    <div class="col-md-6 col-lg-6 col-12">
	    	<div class="faq content">
          		<h6><small>4.</small>&nbsp;&nbsp;How long does it take to convert?</h6>
          		<p>Depending on the booking code, we will help you convert it within 30 minutes</p>
          	</div>
	    </div>
	    <div class="col-md-6 col-lg-6 col-12">
	    	<div class="faq content">
	          	<h6><small>5.</small>&nbsp;&nbsp;Can I convert my own codes?</h6>
    	      	<p>Yes, we also help our users convert their own booking codes</p>
    	    </div>
	    </div>
	    <div class="col-md-6 col-lg-6 col-12">
	    	<div class="faq content">
	          	<h6><small>6.</small>&nbsp;&nbsp;Do you give users tips?</h6>
    	      	<p>No, we do not give our users games. We only post tips from Twitter and Telegram</p>
    	    </div>
	    </div>	    
	</div>
</section>