<div class="navbar filterbox">
	<!-- <span class="filterby">Filter By:</span> -->
	<div class="dropdown">
	    <a class="drop" data-toggle="dropdown"><span class="bookmaker-display">Bookmaker</span> <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header bookmaker">Filter tips by bookmaker</li>
	      <li><span class="dropdown-item bookmaker" data-bookmaker="">All</span></li>
        <% Object.keys(bookmakers).forEach(bookmaker => { %>
          <li><span class="dropdown-item bookmaker" data-bookmaker="<%=bookmaker%>">
               <%= bookmakers[bookmaker] %>
          </span></li>
        <% }) %>
	    </ul>
	</div>
	<span class="dividr">|</span>
	<div class="dropdown">
	    <a class="drop" data-toggle="dropdown"><span class="odds-display">Odds</span> <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header odds">Filter tips by odds</li>
	      <li><span class="dropdown-item odds" data-minOdds="" data-maxOdds="">All</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="" data-maxOdds="9">Below 10</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="10" data-maxOdds="20">10 - 20</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="21" data-maxOdds="50">21 - 50</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="51" data-maxOdds="100">51 - 100</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="101" data-maxOdds="1000">101 - 1000</span></li>
	      <li><span class="dropdown-item odds" data-minOdds="1001" data-maxOdds="">Above 1000</span></li>
	    </ul>
	</div>
</div>