<div class="navbar filterbox">
	<span class="filterby">Filter By:</span>
	<div class="dropdown">
	    <a class="drop" data-toggle="dropdown">Odds <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header">Filter tips by odds</li>
	      <li><a href="#" class="dropdown-item">Below 10</a></li>
	      <li><a href="#" class="dropdown-item">10 - 20</a></li>
	      <li><a href="#" class="dropdown-item">20 - 50</a></li>
	      <li><a href="#" class="dropdown-item">50 - 100</a></li>
	      <li><a href="#" class="dropdown-item">100 - 1000</a></li>
	      <li><a href="#" class="dropdown-item">1000 or Above</a></li>
	    </ul>
		</div>
		<span class="dividr">|</span>
		<div class="dropdown">
	    <a class="drop" data-toggle="dropdown">Bookmaker <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header">Filter tips by bookmaker</li>
	      <li><a href="#" class="dropdown-item">Bet9ja</a></li>
	      <li><a href="#" class="dropdown-item">Betking</a></li>
	      <li><a href="#" class="dropdown-item">Sportybet</a></li>
	      <li><a href="#" class="dropdown-item">1Xbet</a></li>
	      <li><a href="#" class="dropdown-item">22bet</a></li>
	      <li><a href="#" class="dropdown-item">Msport</a></li>
	    </ul>
	</div>
</div>