<div class="navbar filterbox">
	<span class="filterby">Filter By:</span>
	<div class="dropdown">
	    <a class="drop" data-toggle="dropdown">Odds <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header">Odds</li>
	      <li><span class="dropdown-item">Below 10</span></li>
	      <li><span class="dropdown-item">10 - 20</span></li>
	      <li><span class="dropdown-item">20 - 50</span></li>
	      <li><span class="dropdown-item">50 - 100</span></li>
	      <li><span class="dropdown-item">100 - 1000</span></li>
	      <li><span class="dropdown-item">1000 or Above</span></li>
	    </ul>
		</div>
		<span class="dividr">|</span>
		<div class="dropdown">
	    <a class="drop" data-toggle="dropdown">Bookmaker <i class="fa fa-caret-down"></i></a>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li class="dropdown-header">Bookmaker</li>
	      <li><span class="dropdown-item">Bet9ja</span></li>
	      <li><span class="dropdown-item">Betking</span></li>
	      <li><span class="dropdown-item">Sportybet</span></li>
	      <li><span class="dropdown-item">1Xbet</span></li>
	      <li><span class="dropdown-item">22bet</span></li>
	      <li><span class="dropdown-item">Msport</span></li>
	    </ul>
	</div>
</div>
