<footer>
	<div class="container">
		<span class="copyright">&copy; 2021 by bookmakr.ng</span>		
		<div class="footer-link">
			<a href="/about">About</a>
			<a href="#disclaimer">Disclaimer</a>
			<a href="#privacy">Privacy</a>
		</div>
	</div>
</footer>