<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "forgot" }) %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="title">
					<h6>Forgot Password</h6>
				</div>
				<form class="login login-form" autocomplete="off">

          <div id="success" style="display: none" class="login-success alert alert-success" role="alert">
            Tip posted and you can copy share link below
          </div>

          <div id="error" style="display: none" class="login-error alert alert-danger" role="alert">
            Tip posted unsuccessfully, please try again later 
          </div>

          <div class="section forgot-username">
            <div class="form-group">
              <input class="form-control form-control-lg input-identity" name="identifier" type="text" placeholder="Username or Email Address">
            </div>
            <div class="form-group" align="center">
              <button id="submit" type="submit" class="action-button login-button btn btn-book">
                  <span class="login-text">Next</span>
              </button>
            </div>
          </div>

          <div class="section forgot-otp hide">
            <div class="form-group">
              <input class="otp-input form-control form-control-lg" name="whatsapp" type="text" placeholder="Enter OTP">
            </div>
            <div class="terms">Didn't get OTP sent to <span class="number-display"></span>? Resend 
              <span class="otp-timer">in 30 seconds</span><a class="hide resend-otp" href="#">OTP</a>
            </div>
            <div class="form-group" align="center">
              <button id="submit" type="submit" class="action-button login-button btn btn-book">
                  <span class="login-text">Next</span>
              </button>
            </div>
          </div>

          <div class="section forgot-password hide">
            <div class="form-group">
              <input class="password1 form-control form-control-lg" name="password" type="password" placeholder="New Password">
            </div>
            <div class="form-group">
              <input class="password2 form-control form-control-lg" name="password" type="password" placeholder="Confirm Password">
            </div>
            <div class="form-group" align="center">
              <button id="submit" type="submit" class="action-button login-button btn btn-book">
                  <span class="login-text">Change</span>
              </button>
            </div>
          </div>


				</form>
			</div>
		</div>
	</div>

  <script src="/js/script.js"></script>
  <script src="/js/pages/forgot.js"></script>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>
