<header class="navbar">
	<div class="container">
		<div class="head head-admin">
			<div class="logo">
				<img src="/image/logo/text.png" class="text" alt="Bookmakr">
			</div>	
		</div>
	</div>
</header>
