<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<i class="fab fa-bitcoin"></i>
			</div>

			<div class="loglink">
				<a href="/" class="active"><i class="far fa-lightbulb"></i>Tips</a>
				<a href="/profile"><i class="far fa-user"></i>Profile</a>
				<a href="/tipsters"><i class="far fa-star"></i>Tipsters</a>
			</div>	

			<div class="loglink">
				<a href="#" class="passive"><i class="fas fa-external-link-alt"></i> Logout</a>
			</div>
		
		</div>			
		
	</div>

</header>
