<header class="navbar">
	
	<div class="container">
		
		<div class="col-4 px-0">  
			<a class="logo" href="/"><img src="/image/logo/logo.png" class="text" alt="Bookmakr"></a>
		</div>

		<div class="col-8 px-0">
			<div class="float-right">
				<ul class="nav_link">
					<li>
						<a class="bggrey" href="#alert" title="Alert Me"><i class="far fa-bell"></i><span>Alert</span></a>
					</li>
					<li>
						<a class="bggold" href="#join" title="Join Group"><i class="far fa-user"></i><span>Join Us</span></a>
					</li>
				</ul>
			</div>			
		</div>

	</div>

</header>