<% if(!loggedIn) { %>
<header class="navbar">
	<div class="container">
		<div class="head">	
			<div class="logo">
				<a href="/">
					<img src="/image/logo/text.png" class="text" alt="Bookmakr">
				</a>
			</div>	
			<div class="header-link">
				<a href="/login" class="login-element login active mr-2">
        		  <i class="fas fa-external-link-square-alt"></i> Login
        		</a>
				<a href="/register" class="login active">
         		  <i class="fas fa-user"></i> Sign Up
        		</a>
			</div>
		</div>					
	</div>
</header>
<% } %>

<% if(loggedIn) { %>
  <%- include("header_login") %>
<% } %>
