<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<img src="/image/logo/newico.png" class="icon" alt="Bookmakr">
			</div>

			<div class="loglink">
				<a href="/" class="active"><i class="fas fa-lightbulb"></i>Tips</a>
				<a href="/tipsters"><i class="fas fa-star"></i>Tipsters</a>
				<a href="/login"><i class="fas fa-lock"></i>Login</a>
			</div>	

			<div class="loglink">
				<a href="/register" class="passive"><i class="fas fa-user-plus"></i> Sign Up</a>
			</div>
		
		</div>			
		
	</div>

</header>
