
<header class="navbar">
<div class="container">
<div class="col-4 px-0">  
<a class="logo" href="/"><img src="/image/logo/logo.png" class="text" alt="Bookmakr"></a>
</div>
<div class="col-8 px-0">
<div class="float-right">
<a class="text-white" href="#" title="Notification" style="margin:0 1rem 0 0;font-weight:600;"><i class="far fa-comment-alt mr-1" style="font-size:1.2rem"></i> </a>
<a class="text-white" href="#" title="Notification" style="margin:0 1rem 0 0;font-weight:600;"><i class="far fa-bell mr-1" style="font-size:1.2rem"></i> </a>
<a class="text-white" href="https://t.me/bookmakr" title="Join Telegram Group" style="margin:0 0 0 0;font-weight:600;background-color: rgba(222, 222, 222, 0.3);padding: 8px 13px;color: #444;"><i class="far fa-user" style="font-size:1.2rem"></i></a>
</div>
</div>
</div>
</header>