
<header class="navbar">
<div class="container">
<div class="col-4 px-0">  
<a class="logo" href="/"><img src="/image/logo/logo.png" class="text" alt="Bookmakr"></a>
</div>
<div class="col-8 px-0">
<div class="float-right">
<a class="btn btn-warning" href="https://t.me/bookmakr" title="Join Telegram Group"><i class="fa fa-user mr-1"></i> Join Us</a>
</div>
</div>
</div>
</header>