<% if(!loggedIn) { %>
<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<a href="/">
					<img src="/image/logo/text.png" class="text" alt="Bookmakr">
				</a>
			</div>	

			<div class="header-link">
				<a href="/login" class="pr-1">
        		  <i class="far fa-share-square" style="font-size:1rem"></i>Login
        		</a>
				<a href="/register" class="pr-0">
         		  <i class="far fa-user" style="font-size:1rem"></i> Sign Up
        		</a>
			</div>
		
		</div>			
		
	</div>

</header>
<% } %>

<% if(loggedIn) { %>
  <%- include("header_login") %>
<% } %>
