<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<img src="/image/logo/newico.png" class="icon" alt="Bookmakr">
			</div>

			<div class="loglink">
				<a href="/" class="<%= page == 'home' ? 'active' : '' %>">
          <i class="far fa-lightbulb"></i>Tips
        </a>
				<a href="/profile/<%= user._id %>" class="<%= page == 'profile' ? 'active' : '' %>">
          <i class="far fa-user"></i>Profile
        </a>
				<a href="/tipsters" class="<%= page == 'tipsters' ? 'active' : '' %>">
          <i class="far fa-star"></i>Tipsters
        </a>
			</div>	

			<div class="logout loglink">
				<i class="fas fa-external-link-alt"></i> Logout
			</div>
		
		</div>			
		
	</div>

</header>
