<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<i class="fab fa-bitcoin"></i>
			</div>

			<div class="loglink">
				<a href="/" class="active"><i class="fas fa-home"></i>Home</a>
				<a href="#"><i class="fas fa-star"></i>Tipsters</a>
				<a href="#"><i class="fas fa-user"></i>Profile</a>
			</div>	

			<div class="logout loglink">
				<a href="#" class="passive"><i class="fas fa-external-link-alt"></i> Logout</a>
			</div>
		
		</div>			
		
	</div>

</header>
