<header class="navbar">
	
	<div class="container">
		
		<div class="col-4 px-0">  
			<a class="logo" href="/"><img src="/image/logo/logo.png" class="text" alt="Bookmakr"></a>
		</div>

		<div class="col-8 px-0">
			<div class="float-right">
				<ul class="nav_link">
					<li>
						<a class="bggrey" href="/login" title="Login"><i class="fas fa-lock"></i><span>Login</span></a>
					</li>
					<li>
						<a class="bggold" href="/register" title="Join"><i class="fas fa-user-plus"></i><span>Sign Up</span></a>
					</li>
				</ul>
			</div>			
		</div>

	</div>

</header>