<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<img src="/image/logo/newico.png" class="icon" alt="Bookmakr">
			</div>

			<div class="loglink">
				<a href="/admin/tipster" title="Add Tipster">
          			<i class="fas fa-plus"></i>Tipster
        		</a>
				<a href="/admin/post" title="Post Tip" class="passive">
          			<i class="far fa-edit"></i>Post Tip
        		</a>
        		
			</div>	
		
		</div>			
		
	</div>

</header>
