<section class="popular-banner">
	<h1>Tipsters On Bookmakr</h1>
	<p class="sub">Some of the top punters we follow</p>
  <div class="tags">
      <span class="tag">Mrbankstips</span>
      <span class="tag">Betaffairs</span>
      <span class="tag">Pbtips_</span>
      <span class="tag">LouieDi13</span>
      <span class="tag">Ekitipikin</span>
      <span class="tag">Donsoj52</span>
      <span class="tag">FaridonkiBetTip</span>
      <span class="tag">Chizzy Tips</span>
      <span class="tag">Woozzaabets</span>
      <span class="tag">Sakasticbet</span>
      <span class="tag">LifeOfAdunni</span>
      <span class="tag">Ada_Daddyya</span>
      <span class="tag">_Spiriitual</span>
      <span class="tag">BetsMane</span>
      <span class="tag">Minutespunt</span>
      <span class="tag">OracleTips_</span>
      <span class="tag">Joyfultips</span>
      <span class="tag">Cindy_blog</span>
      <span class="tag">TheLockTips</span>
      <span class="tag">Woozzaabets</span>
      <span class="tag">CHIZZY_BB</span>
  </div>

  <div class="text">
    Is there a tipster you want us to add or do you have any other suggestion?
    Tell us more about it<br> on <a href="https://wa.me/message/R7NQZELPYZV3L1">WhatsApp</a>, 
    <a href="https://twitter.com/thebookmakr">Twitter</a> or join our <a href="https://t.me/bookmakr">Telegram Group</a>
  </div>



</section>