<section class="popular-banner">
	<h1>Tipsters On Bookmakr</h1>
	<p class="sub">Some of the top punters we follow</p>
  <div class="tags">
      <span class="tag">Mrbankstips</span>
      <span class="tag">Betaffairs</span>
      <span class="tag">Pbtips</span>
      <span class="tag">Louie</span>
      <span class="tag">Freeman Tips</span>
      <span class="tag">Mayor Of Ekiti</span>
      <span class="tag">Donsoj52</span>
      <span class="tag">Faridonki Bet</span>
      <span class="tag">Chizzy Tips</span>
      <span class="tag">Woozzaabets</span>
      <span class="tag">Sakasticbet</span>
      <span class="tag">Lifeofadunni</span>
      <span class="tag">Ada_daddyya</span>
      <span class="tag">Spiritual</span>
      <span class="tag">Manebets</span>
      <span class="tag">Oracle Tips</span>
      <span class="tag">Joyful Tips</span>
      <span class="tag">Cindy Monel</span>
      <span class="tag">Boomerang</span>
      <span class="tag">Mrbankstips</span>
      <span class="tag">Betaffairs</span>
      <span class="tag">Pbtips</span>
      <span class="tag">Louie</span>
      <span class="tag">Freeman Tips</span>
      <span class="tag">Mayor Of Ekiti</span>
      <span class="tag">Donsoj52</span>
      <span class="tag">Faridonki Bet</span>
      <span class="tag">Chizzy Tips</span>
      <span class="tag">Woozzaabets</span>
      <span class="tag">Sakasticbet</span>
      <span class="tag">Lifeofadunni</span>
      <span class="tag">Ada_daddyya</span>
      <span class="tag">Spiritual</span>
      <span class="tag">Rokamobet</span>
      <span class="tag">Oracle Tips</span>
      <span class="tag">Joyful Tips</span>
      <span class="tag">Oddchaser</span>
      <span class="tag">Boomerang</span>
      <span class="tag">PredictionHQ</span>
      <span class="tag">Somtoofficial</span>
  </div>

  <div class="text">
    Is there a tipster you want us to follow or do you have any other suggestion?
    Tell us more about it on <a href="https://twitter.com/thebookmakr">Twitter</a> or join our <a href="https://t.me/bookmakr">Telegram Group</a>
  </div>



</section>