<section class="popular-banner">
	<h1>Tipsters On Bookmakr</h1>
	<p class="sub">Some of the top punters we follow</p>
  <div class="tags">
      <span class="tag">Mr banks</span>
      <span class="tag">Bet Affairs</span>
      <span class="tag">Pbtips</span>
      <span class="tag">Louie</span>
      <span class="tag">Mayor Of Ekiti</span>
      <span class="tag">Donsoj52</span>
      <span class="tag">Duns</span>
      <span class="tag">Farindoki</span>
      <span class="tag">Chizzy Tips</span>
      <span class="tag">Woozzaabets</span>
      <span class="tag">Sakasticbet</span>
      <span class="tag">Premium Ada</span>
      <span class="tag">Spiritual</span>
      <span class="tag">ManeBets</span>
      <span class="tag">Boomerang</span>
      <span class="tag">Oracle Tips</span>
      <span class="tag">Joyfultips</span>
      <span class="tag">Cindymonel</span>
      <span class="tag">The Lock Tips</span>
      <span class="tag">Rokamo</span>
      <span class="tag">Hockemania</span>
      <span class="tag">Misturbets</span>
      <span class="tag">Oddshive</span>
  </div>

  <div class="text">
    Is there a tipster you want us to add or do you have any other suggestion?
    Tell us more about it<br> on <a href="https://wa.me/message/R7NQZELPYZV3L1">WhatsApp</a>, 
    <a href="https://twitter.com/thebookmakr">Twitter</a> or join our <a href="https://t.me/bookmakr">Telegram Group</a>
  </div>



</section>