<%- include ("meta.ejs") %>
</head>
<body>
<article>

	<%- include ("header_login.ejs") %>

	<div class="main">
		<div class="container" id="app">
			
			<div class="content">
				
				<div class="title">
					<h6>Akinwumi's Profile</h6>
				</div>
				
				<div class="summary">
					<img src="/image/logo/1.jpg">
					<h5>Akin Wumi</h5>
					<h6>@Akinwumi</h6>
					<p>Just a basic / modest tipster</p>
					<div><a href="#">Twitter</a> <span class="seperator">|</span> <a href="#">Telegram</a></div>
					<div><a href="/edit" class="btn btn-light"><i class="far fa-edit"></i> Update Profile</a></div>	
				</div>
			
			</div>

			<div class="content">

				<div class="title">
					<h6>Latest Tips By Akin Wumi</h6>
				</div>

				<ul class="tips">

					<li class="hover">
						
						<a href="#">

							<div class="t_header">
								<img src="/image/logo/1.jpg" alt="Akinwumi">
								<div class="t_details">
									<h6>Akin Wumi</h6>
									<span>an hour ago</span>
								</div>
							</div>

							<div class="t_main">
								<p>Only game from me today. #100 might give you 800k!!! BC35KDGM Have a great weekend!!!</p>
								<div class="t_info"><i class="far fa-bookmark"></i> 11 <span>Odds</span></div>
								<div class="t_info"><i class="far fa-comment-alt"></i> 6 <span>Comments</span></div>
							</div>	

						</a>	
					
					</li>


					<li class="hover">
						
						<a href="#">

							<div class="t_header">
								<img src="/image/logo/1.jpg" alt="Akinwumi">
								<div class="t_details">
									<h6>Akin Wumi</h6>
									<span>3 hour ago</span>
								</div>
							</div>

							<div class="t_main">
								<p>Double up on sportybet Gamble responsibly</p>
								<div class="t_info"><i class="far fa-bookmark"></i> 3 <span>Odds</span></div>
								<div class="t_info"><i class="far fa-comment-alt"></i> 4 <span>Comments</span></div>
							</div>	

						</a>	
					
					</li>

					<li class="hover">
						
						<a href="#">

							<div class="t_header">
								<img src="/image/logo/1.jpg" alt="Akinwumi">
								<div class="t_details">
									<h6>Akin Wumi</h6>
									<span>2 days ago</span>
								</div>
							</div>

							<div class="t_main">
								<p>BC35MEG9 all today. 4.9 odds</p>
								<div class="t_info"><i class="far fa-bookmark"></i> 4.9 <span>Odds</span></div>
								<div class="t_info"><i class="far fa-comment-alt"></i> 0 <span>Comments</span></div>
							</div>	

						</a>	
					
					</li>

				</ul>

			</div>


		</div>
	</div>

	<%- include ("footer.ejs") %>

</article>

<%- include ("end.ejs") %>