<section class="telegram-banner text-center">
	<h3>Join our telegram community</h3>
	<p>Is there a tipster you want us to post on Bookmakr or do you have other suggestion?</p> 
	<a href="https://t.me/bookmakr" class="btn btn-warning"><i class="fab fa-telegram mr-1"></i> Join Group</a>  			
</section>