<%- include ("meta.ejs") %>
<div id="app">
	<%- include ("header.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<h6 class="title">Tip #126355</h6>

				<div class="tip">
			
					<span class="tip_pic"><img src="/image/logo/1.jpg" alt="Punt2win"></span>

					<div class="tipmain">
				
						<h6>Punt2win</h6>
		
						<span>3 hours ago</span>

						<div class="sharethis-inline-share-buttons my-3"></div>

						<p>Double chance acca. This event fires on, but before the new tab has been shown. This event fires on tab show, but before the new tab has been shown. This event fires on tab show, but before the new tab has been shown. This event fires on tab show, but before the new tab has been shown</p>

						<div class="divider">
						<span></span>
						<span>Copy bet code</span>
						<span></span>
						</div>

						<ul class="betcodes">

							<li>
								<p>Bet9ja</p>
								<p class="code">
									 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Betking</p>
								<p class="code">
								
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Sportybet</p>
								<p class="code">
									 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>1Xbet</p><p class="code">
									 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>22bet</p><p class="code">
									 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Nairabet</p><p class="code">
									 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>

						</ul>

						<div class="divider">
						<span></span>
						<span>Or</span>
						<span></span>
						</div>

						<p class="mb-2">Do you need the bet code from other bookmakers for this tip? <b>Make a request on</b> 
							<a href="#">telegram</a> or <a href="#">twitter</a>
						</p>
				
					</div>

					<div class="odds">14.3 <span>Odds</span></div>

				</div>

			</div>

		</div>

	</div>

</div>
<%- include ("footer.ejs") %>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2d64f1c125530012b63b0e&product=inline-share-buttons' async='async'></script>
