<%- include ("meta.ejs") %>
<div id="app">
	<%- include ("header.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<h6 class="title">Tip #126355</h6>

				<div class="tip">
			
					<span class="tip_pic"><img :src="tip.tipster.image" :alt="tip.tipster.name"></span>

					<div class="tipmain">
				
						<h6>Punt2win</h6>
		
						<span>3 hours ago</span>

						<div class="sharethis-inline-share-buttons my-3"></div>

						<p>{{ tip.description }}</p>

						<div class="tipimg"><img :src="tip.image" /></div>

						<div class="divider">
						<span></span>
						<span>Bet codes</span>
						<span></span>
						</div>

						<ul class="betcodes">

							<li>
								<p>Bet9ja:</p>
								<p class="code">									 
									 <span>EJ1826O</span>
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Betking:</p>
								<p class="code">
									<span>CDF18A</span>
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Sportybet:</p>
								<p class="code">
									<span>29ZZXX</span>
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>1Xbet:</p>
								<p class="code">
									<span>BAM97</span> 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>22bet:</p>
								<p class="code">
									<span>GE08VB</span> 
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>
							<li>
								<p>Nairabet:</p>
								<p class="code">
									<span>GGAM111</span>
									<a class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</a>
								</p>
							</li>

						</ul>

						<div class="divider">
						<span></span>
						<span>Or</span>
						<span></span>
						</div>

						<p class="mb-2">Do you need the bet code from other bookmakers for this tip? <b>Make a request on</b> 
							<a href="#">telegram</a> or <a href="#">twitter</a>
						</p>
				
					</div>

					<div class="odds">{{ tip.odds }} <span>Odds</span></div>

				</div>

			</div>

		</div>

	</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/tip.js"></script>

<%- include ("footer.ejs") %>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2d64f1c125530012b63b0e&product=inline-share-buttons' async='async'></script>
