<%- include ("meta.ejs") %>
</head>
<body>
<div id="app">
	<%- include ("header.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<h6 class="title">Tip #<span class="text-uppercase">{{ shortid }}</span></h6>

				<hr>

				<div class="tip">
			
					<span class="tip_pic"><img :src="tip.tipster.image" :alt="tip.tipster.name"></span>

					<div class="tipmain">
				
						<h6>{{ tip.tipster.name }}</h6>
		
						<span>{{ moment(tip.createdAt).fromNow() }}</span>

						<div class="sharethis-inline-share-buttons my-3"></div>

						<p>{{ tip.description }}</p>

						<div class="tipimg"><img :src="tip.image" /></div>

						<div class="divider">
						<span></span>
						<span>Booking codes</span>
						<span></span>
						</div>

						<ul class="betcodes">

							<li v-if="tip.bookmakers.bet9ja">
								<p>Bet9ja</p>
								<p class="code">									 
									<span>{{ tip.bookmakers.bet9ja }}</span>
									<button @click="copy" class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>
							<li v-if="tip.bookmakers.betking">
								<p>Betking</p>
								<p class="code">
									<span>{{ tip.bookmakers.betking }}</span>
									<button @click="copy" class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>
							<li v-if="tip.bookmakers.sportybet">
								<p>Sportybet</p>
								<p class="code">
									<span>{{ tip.bookmakers.sportybet }}</span>
									<button @click="copy" class="btn btn-warning btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>
							<li v-if="tip.bookmakers.onexbet">
								<p>1Xbet</p>
								<p class="code">
									<span>{{ tip.bookmakers.onexbet }}</span> 
									<button @click="copy" class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>
							<li v-if="tip.bookmakers.twentytwobet">
								<p>22bet</p>
								<p class="code">
									<span>{{ tip.bookmakers.twentytwobet }}</span> 
									<button @click="copy" class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>
							<li v-if="tip.bookmakers.nairabet">
								<p>Nairabet</p>
								<p class="code">
									<span>{{ tip.bookmakers.nairabet }}</span>
									<button @click="copy" class="btn btn-sm" href="#">
										<i class="far fa-clone"></i> Copy
									</button>
								</p>
							</li>

						</ul>

						<!-- <div class="divider">
						<span></span>
						<span>Or</span>
						<span></span>
						</div>

						<p class="mb-2">Do you need the bet code from other bookmakers for this tip? <b>Make a request on</b> 
							<a href="#">telegram</a> or <a href="#">twitter</a>
						</p> -->
				
					</div>

					<div class="odds" style="border:0;padding:0;width:auto;">{{ tip.odds }} <span>Odds</span></div>

				</div>

			</div>

		</div>

	</div>

</div>

<%- include ("footer.ejs") %>

<input type="text" id="copyinput" style="transform: translateY(-50000px);"/>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/tip.js"></script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2d64f1c125530012b63b0e&product=inline-share-buttons' async='async'></script>
