<div class="content">

	<div class="title">
		<h6>Popular Tipsters</h6>
	</div>
	
	<ul class="tipsters">
			
		<li>
			<a href="/" class="active">All</a>
		</li>

		<% for(tipster of tipsters) { %>

		<li>
			<!-- Add class -->
			<a href="/tipster/<%= tipster.name %>" data-tipster="<%= tipster.name %>"><%= tipster.name %></a>
		</li>

		<% } %>
	
	</ul>

</div>
