<div class="content">		

	<h6 class="title">Latest Tips From Everyone</h6>
	
	<hr>

	<ul class="tips">

		<li v-for="tip of tips">
			
			<a :href="`/tip?id=${tip._id}`">

				<div class="tip hover">
				
					<span class="tip_pic"><img :src="tip.tipster.image" :alt="tip.tipster.name"></span>

					<div class="tipmain">
					
						<h6>{{ tip.tipster.name }}</h6>
		
						<span>2 hours ago</span>

						<p>{{ tip.description }}</p>
				
					</div>

					<div class="odds">{{ tip.odds }} <span>Odds</span></div>	
			
				</div> 

			</a>	
		
		</li>

	</ul>
	
</div>
