<div class="content">
	<div class="title">
		<h6>Tipsters</h6>
	</div>
	<div class="tipsters">
		<div class="tags">
			<a href="#" class="tag">All</a>
      <% tipsters.forEach(tipster => { %>
        <a href="#" class="tag"><%= tipster.fullname %></a>
      <% }) %>
		</div>
	</div>
	<div class="showmore">Show More Tipsters</div>
</div>
