<div class="content">

	<h6 class="title">Popular Tipsters</h6>
	
	<hr>

	<ul class="tipsters">
			
		<li>
			<a href="/" class="active">All</a>
		</li>

		<% for(tipster of tipsters.data) { %>

		<li>
			<!-- Add class -->
			<a href="/tipster/<%= tipster.name %>" data-tipster="<%= tipster.name %>"><%= tipster.name %></a>
		</li>

		<% } %>
	
	</ul>

</div>
