<div class="content">
	<div class="title">
		<h6>Tipsters</h6>
	</div>
	<div class="tipsters">
		<div class="tags">
			<span class="tag tipster-tag active" data-id="">All</span>
      <% tipsters.forEach(tipster => { %>
        <span href="#" class="tag tipster-tag" data-id="<%= tipster._id %>">
            <%= tipster.fullname %>
        </span>
      <% }) %>
		</div>
	</div>
	<div class="showmore">Show More Tipsters</div>
</div>
