<div class="content">

	<h6 class="title">Popular Tipsters</h6>
	
	<hr>

	<ul class="tipsters">
		
		<li v-for="tipster in tipsterList">
			<a :href="tipster.link">{{ tipster.name }}</a>
		</li>
	
	</ul>

</div>
