<div class="content">

	<h6 class="title">Popular Tipsters</h6>
	
	<hr>

	<ul class="tipsters">
	
		<li><a href="#">Life of dunni</a></li>
		<li><a href="#">Louie0437</a></li>
		<li><a href="#" class="active">Ekiti Pikin</a></li>
		<li><a href="#">Rokamo Bet</a></li>
		<li><a href="#">Bet Affairs</a></li>
		<li><a href="#">Cindy Blog</a></li>
		<li><a href="#">Punt2win</a></li>
		<li><a href="#">Odds Chaser</a></li>
		<li><a href="#">Itypster</a></li>
		<li><a href="#">Rokamo Bet</a></li>
		<li><a href="#">Bet Affairs</a></li>
		<li><a href="#">Cindy Blog</a></li>
		<li><a href="#">Punt2win</a></li>
		<li><a href="#">Oddchaser</a></li>
		<li><a href="#">Life of dunni</a></li>
		<li><a href="#">Louie</a></li>

	</ul>

</div>