<div class="content">
	<div class="title">
		<h6>Tipsters</h6>
	</div>
	<div class="tipsters">
		<div class="tags">
			<a href="#" class="tag">All</a>
			<a href="#" class="tag">Mrbankstips</a>
			<a href="#" class="tag">Betaffairs</a>
			<a href="#" class="tag">Pbtips</a>
			<a href="#" class="tag">Louie</a>
			<a href="#" class="tag">Freeman Tips</a>
			<a href="#" class="tag active">Mayor Of Ekiti</a>
			<a href="#" class="tag">Donsoj52</a>
			<a href="#" class="tag">Faridonki Bet</a>
			<a href="#" class="tag">Chizzy Tips</a>
			<a href="#" class="tag">Woozzaabets</a>
			<a href="#" class="tag">Sakasticbet</a>
			<a href="#" class="tag">Lifeofadunni</a>
			<a href="#" class="tag">Ada_daddyya</a>
			<a href="#" class="tag">Spiritual</a>
			<a href="#" class="tag">Manebets</a>
			<a href="#" class="tag">Oracle Tips</a>
			<a href="#" class="tag">Joyful Tips</a>
			<a href="#" class="tag">Cindy Monel</a>
			<a href="#" class="tag">Boomerang</a>
			<a href="#" class="tag">RokamoBet</a>
			<a href="#" class="tag">Oddchaser</a>
			<!-- <a href="#" class="tag">All</a>
			<a href="#" class="tag">Mrbankstips</a>
			<a href="#" class="tag">Betaffairs</a>
			<a href="#" class="tag">Pbtips</a>
			<a href="#" class="tag">Louie</a>
			<a href="#" class="tag">Freeman Tips</a>
			<a href="#" class="tag">Mayor Of Ekiti</a>
			<a href="#" class="tag">Donsoj52</a>
			<a href="#" class="tag">Faridonki Bet</a>
			<a href="#" class="tag">Chizzy Tips</a>
			<a href="#" class="tag">Woozzaabets</a>
			<a href="#" class="tag">Sakasticbet</a>
			<a href="#" class="tag">Lifeofadunni</a>
			<a href="#" class="tag">Ada_daddyya</a>
			<a href="#" class="tag">Spiritual</a>
			<a href="#" class="tag">Manebets</a>
			<a href="#" class="tag">Oracle Tips</a>
			<a href="#" class="tag">Joyful Tips</a>
			<a href="#" class="tag">Cindy Monel</a>
			<a href="#" class="tag">Boomerang</a> -->
		</div>
	</div>
	<div class="showmore">Show More Tipsters</div>
</div>
