<%- include ("meta.ejs") %>
</head>
<body>

<article>

	<%- include ("header.ejs", { page: "topup" }) %>
	
	<div class="main">
		
		<div class="container">

			<div class="content">

				<div class="title">
					<h6>Load Wallet</h6>
				</div>

				<form class="login" autocomplete="off">

					<div id="error" class="alert alert-danger" style="display: none;" role="alert">
            Sorry, your payment is unsuccessful. Try again! 
          </div>

					<div id="error" class="alert alert-success" style="display: none;" role="alert">
            Sorry, your payment is unsuccessful. Try again! 
          </div>

					<div class="form-group">
						<input class="form-control form-control-lg amount" name="identifier" type="number" placeholder="Enter Amount e.g 1000">
					</div>

					<div class="form-group">
						<button class="topup-button login-button btn btn-book">
              	<span class="login-text">Top Up</span>
			      </button>
					</div>

					<div class="divider">
						<span></span>
						<span>or</span>
						<span></span>
					</div>

					<div class="ortxt">Can't make payment? <a href="#" class="register-link">Get support</a></div>

				</form>

			</div>
			
		</div>
	
	</div>

	<%- include ("footer.ejs") %>

</article>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="/js/script.js"></script>
<script src="/js/pages/topup.js"></script>
<%- include ("end.ejs") %>
