<%- include ("meta2.ejs") %>
<title>Tweets</title>
</head>
<body>
<article>
	<%- include ("header_admin.ejs") %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="tab-header">
					<ul class="nav nav-pills nav-fill">
						<li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tweet">
                Other Posts (<span class="unclassified-count">-</span>)
              </a>
            </li>
						<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ptip">
                Potential Tips (<span class="potential-count">-</span>)
              </a>
            </li>
						<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tip">
                Tip Posts (<span class="tip-count">-</span>)
              </a>
            </li>
					</ul>
				</div>
				<div class="tab-content">

				  <div id="tweet" class="tab-pane active">
				    <ul class="tweets"></ul>
					<div class="showmore clear-tweets">Clear Tweets</div>
				  </div>


				  <div id="ptip" class="tab-pane">
				    <ul class="tweets"></ul>
					  <div class="showmore all-tips">All Tips</div>
				  </div>

				  <div id="tip" class="tab-pane">
				    <ul class="tweets"></ul>
					  <div class="showmore all-posts">All Posts</div>
				  </div>

				</div>
			</div>
		</div>
	</div>
</article>	

<script src="/js/script.js"></script>
<script src="/js/pages/tweet.js"></script>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
