<%- include ("meta2.ejs") %>
<title>Tweets</title>
</head>
<body>
<article>
	<%- include ("header_admin.ejs") %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="tab-header">
					<ul class="nav nav-pills nav-fill">
						<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tweet">Other Posts</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tip">Tip Posts</a></li>
					</ul>
				</div>
				<div class="tab-content">
				  <div id="tweet" class="tab-pane active">
				    <ul class="tweets">
						<li class="hover">
							<a href="#">
								<div class="tweet_header">
									<div class="tweet_details">
										<h6>Mrbankstips</h6>
										<span>2 hours ago</span>
									</div>
									<a class="tweet_add" href="#"><i class="far fa-edit"></i></a>
								</div>
								<div class="tweet_main">
									<p>12 games, N100 to win N4M</p>
									<div class="tweet_form">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Booking Code">
										</div>
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Total Odds">
										</div>
										<div class="form-group">
											<select class="custom-select">
												<option>Bookmaker</option>
												<option>Bet9ja</option>
												<option>Betking</option>
												<option>Sportybet</option>
												<option>1Xbet</option>
												<option>22bet</option>
												<option>Msport</option>	
											</select>
										</div>
									</div>
									<div class="s_img">
										<img src="/image/logo/1.jpg">
										<img src="/image/logo/2.jpg">
										<img src="/image/logo/5.jpeg">
										<img src="/image/logo/4.jpg">
									</div>
								</div>
							</a>
						</li>	
					</ul>
					<div class="showmore">Clear Tweets</div>
				  </div>
				  <div id="tip" class="tab-pane">
				    <ul class="tweets">
						<li>
							<a href="#">
								<div class="tweet_header">
									<div class="tweet_details">
										<h6>Mrbankstips</h6>
										<span>2 hours ago</span>
									</div>
									<a class="tweet_add" href="#"><i class="far fa-edit"></i></a>
								</div>
								<div class="tweet_main">
									<p>12 games, N100 to win N4M</p>
									<div class="tweet_form">
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Booking Code">
										</div>
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Total Odds">
										</div>
										<div class="form-group">
											<select class="custom-select">
												<option>Bookmaker</option>
												<option>Bet9ja</option>
												<option>Betking</option>
												<option>Sportybet</option>
												<option>1Xbet</option>
												<option>22bet</option>
												<option>Msport</option>	
											</select>
										</div>
									</div>
									<div class="s_img">
										<img src="/image/logo/1.jpg">
										<img src="/image/logo/2.jpg">
										<img src="/image/logo/5.jpeg">
										<img src="/image/logo/4.jpg">
									</div>
								</div>
							</a>
						</li>	
					</ul>
					<div class="showmore">Add Tips</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</article>	
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>