<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header_simple.ejs") %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="title">
					<h6>Congratulations &nbsp;Akinwumi!</h6>
				</div>
				<div class="random">
					<img class="img-fluid" src="/image/logo/happy.png" alt="Signup Complete">
					<p class="info mb-0">&#8358;100 signup bonus added to your wallet</p>	
	        		<span>
	        			You can now get and convert booking codes from the top tipsters in Nigeria
	        		</span>
	        		<p class="text-center mt-4">
	        			<a class="btn btn-book" href="/home">
	        				 <i class="fas fa-globe-africa mr-2"></i> Browse Latest Codes
	        			</a>
	        		</p>
	            </div>
	        </div>
    	</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>