<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header_simple.ejs") %>
	<div class="main">
		<div class="container">
    		<section class="banner mb-4">
  				<div class="row">
  					<div class="col-md-6 col-lg-6 col-12 left">
      					<img class="img-fluid" src="/image/logo/tabs.png">
    				</div>
    				<div class="col-md-6 col-lg-6 col-12">
      					<h2>&#8358;100 Sign-up Bonus</h2>
      					<h6>
       						 Your wallet has been credited with &#8358;100! Start converting booking codes for free. 
	      				</h6>
    	  				<a class="btn btn-success" href="/home">See Latest Tips <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    				</div>
			  	</div>
			</section>
    	</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>