<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header_simple.ejs") %>
	<div class="main">
		<div class="container">
    		<!-- <section class="banner mb-4">
  				<div class="row">
  					<div class="col-md-6 col-lg-6 col-12 left">
      					<img class="img-fluid" src="/image/logo/booking.png">
    				</div>
    				<div class="col-md-6 col-lg-6 col-12">
      					<h2>&#8358;100 Sign-up Bonus</h2>
      					<h6>
       						 Your wallet has been credited with &#8358;100! Start converting booking codes for free. 
	      				</h6>
    	  				<a class="btn btn-success" href="/home">See Latest Tips <i class="fas fa-long-arrow-alt-right ml-2"></i></a>
    				</div>
			  	</div>
			</section> -->

			<div class="content">

				<div class="title">
					<h6>Welcome,&nbsp;&nbsp;Akin Wumi</h6>
				</div>

				<div class="random">
					<img class="img-fluid" src="/image/logo/happy.png" alt="Signup Complete">
					<p class="info mb-0">Your wallet has been credited with &#8358;100</p>	
	        		<span>
	        			You can now get and convert games from the top tipsters in Nigeria!
	        		</span>
	        		<p class="text-center mt-4">
	        			<a class="btn btn-book" href="/home">
	        				Go Home <i class="fas fa-long-arrow-alt-right ml-2" style="vertical-align:middle;"></i>
	        			</a>
	        		</p>
	            </div>

	        </div>
    	</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>